body{
    background-color:  #1e1d1d;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.circle{
    width: 450px;
    height: 450px;
    border-radius: 900px;
    background-color: #f7f7f7;
    box-shadow: 0 0 90px rgb(3, 145, 69);
    z-index: 3;
    transition: .4s;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
  
    
  
}

video{
    position: absolute;
    width: 90vw;
    height: 100vh;
    opacity: 1;
}

.circle:hover{
  
    transition: .4s;
    width: 850px;
    height: 500px;

    border-radius: 51px;
    background-color: #f7f7f7;
    box-shadow: 0 0 90px rgb(3, 145, 69);
          transition: .3s;



}
.flag{
    
       opacity:1;
    position: absolute;
           z-index: 2;


}
.independence-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-family: 'Arial', sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
}




.flag,.qaid{
    transition: opacity 0.5s ease;
}
.qaid{
  
        opacity:0;
         z-index: 1;
         margin-top: 40px;

}
.circle:hover .flag{
   
        opacity:0;
        z-index: 3;

}
.circle:hover .qaid{

    opacity:1;
    position: absolute;
    


}
.text{
    position: absolute;
    font-family:'myfont',sans-serif; ;
    font-size: x-large;
    color: rgb(2, 38, 2);
    
    left: 100%;
    top: 25%;
    opacity: 0;
}
p{
    font-size: xx-large; font-family: 'myfont';
    font-weight: bolder;

}
p span{
    font-size: 40px;
        font-family: 'myfont2';
        text-transform: capitalize;
        text-shadow:0 0 90px rgb(30, 214, 116); ;
        
   
   
    padding-top: 20px;

}
.circle:hover .text{
         left: 40%;
         opacity: 1;
         font-family: 'myfont',sans-serif;
         text-align: center;
}
@font-face {
    font-family: 'myfont';
    src: url(autography/Autography.otf);

}
@font-face {
    font-family: 'myfont2';
    src: url(hello_valentica/Hello\ Valentina.ttf);

}
.text1 {
    position: absolute;
    padding-bottom: 100px;
    width: 20px;
    height: 20px;
    padding-left: 350px;
    opacity: 0.3;    

}
#celebrate{
    height: 70px;
    width: 210px;
    background-color: rgb(14, 59, 14);
    color: rgb(229, 231, 229);
    border-radius: 10px;
    font-family: 'myfont2';
    font-size: x-large;
    border: 2px;
    border-color: rgb(17, 31, 3);
    box-shadow: 0 1 90px rgb(47, 67, 57);
} 

#celebrate:hover{
    height: 70px;
    width: 210px;
    background-color: rgb(37, 37, 37);
    color: rgb(152, 161, 152);
    border-radius: 10px;
    font-family: 'myfont2';
    font-size: x-large;
    border: 2px;
    border-color: rgb(17, 31, 3);
    box-shadow: 0 1 90px rgb(24, 28, 26);
    transform: scale(1.3) ease;

    
}
